#geo-wrapper {
  overflow: hidden;
}

#geo-settings {
  float: left;
  width: 300px;
}

#geo-map {
  width: 620px;
}

#map-canvas {
  width: 750px;
  height: 512px;
  position: relative;
}

.label {
  font-weight: bold;
}